* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgrey;
}
.wrapper {
    padding: 0 200px;
}
header {
    background-color: white;
    border-bottom: 10px solid brown;
    height: 80px;
    display: flex;
}
.menu-head li {
    background-color: steelblue;
}
.logo, .menu-left {
    width: 200px;
    border-right: 10px solid brown;
}
.menu-left{
    background-color: steelblue;
}
a {
    color: white;
    font-weight: bold;
    font-family: Arial, Geneva, sans-serif;
}
.my-photos {
    display: flex;
}